/* Fonts */
@font-face {
  font-family: 'Migra';
  font-style: normal;
  font-weight: normal;
  src: local('Migra'), url(./fonts/Migra/Migra-Extralight.woff) format('woff');
}

@font-face {
  font-family: 'Migra';
  font-style: italic;
  font-weight: normal;
  src: local('Migra'), url(./fonts/Migra/MigraItalic-ExtralightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Migra';
  font-style: bold;
  font-weight: bold;
  src: local('Migra'), url(./fonts/Migra/Migra-Extrabold.woff) format('woff');
}

@font-face {
  font-family: 'Migra';
  font-style: italic;
  font-weight: bold;
  src: local('Migra'), url(./fonts/Migra/MigraItalic-ExtraboldItalic.woff) format('woff');
}

@font-face {
  font-family: 'PierSans';
  font-style: normal;
  font-weight: normal;
  src: local('PierSans'), url(./fonts/PierSans/PPPierSans-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'PierSans';
  font-style: normal;
  font-weight: bold;
  src: local('PierSans'), url(./fonts/PierSans/PPPierSans-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'PierSans';
  font-style: italic;
  font-weight: normal;
  src: local('PierSans'), url(./fonts/PierSans/PPPierSans-Italic.otf) format('opentype');
}

@font-face {
  font-family: 'PierSans';
  font-style: italic;
  font-weight: bold;
  src: local('PierSans'), url(./fonts/PierSans/PPPierSans-BoldItalic.otf) format('opentype');
}


/* Initialising theme */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Migra', 'PierSans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Landing page */
#page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.landing__textbox {
  font-family: 'Migra';
  font-size: 5vw;
  margin-top: 10vw;
  margin-left: 5vw;
  margin-right: 15vw;
  width: auto;
  height: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
}

.landing__textbox img {
  width: auto;
  max-height: 4vw;
}

/* Contact page */
.contact__textbox {
    font-family: 'Migra';
    font-style: italic;
    font-size: 3vw;
    max-height: 50%;
    max-width: 80%;
    margin: auto;
    text-align: center;
}

.contact__container img{
  max-height: 3vw;
  padding: 7px 10px;
}

/* Fix icon height once font is set to ensure same height */
.textbox__icon {
  max-height: 3vw;
  padding: 0px 10px;
}





